*, *::before, *::after {
  box-sizing: border-box;
  font-family: sans-serif;
}

#question {
  font-weight: bold;
  color: white;
  text-align: center;
  font-size: 25px;
  padding: 20px;
}

#answer-buttons {
  font-weight: bold;
  padding: 20px;
  text-align: center;
  font-weight: lighter;
}

body {
  --hue: var(--hue-neutral);
  padding: 0;
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: url(../img/venner.png);
  background-size: cover;
}

.container {
  width: 500px;
  max-width: 80%;
  background-color: #159655;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
  color: black;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.btn {
  border: 1px solid hsl(var(--hue), 100%, 100%);
  background-color: white;
  border-radius: 5px;
  padding: 10px 10px;
  color: black;
  outline: none;
}

.btn:hover {
  border-color: #159655;
}

.start-btn {
  font-size: 2rem;
  font-weight: bold;
  padding: 10px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.back-btn {
  background-image: url(../../assets/images/arrow-left-white.png);
  background-size: cover;
  background-color: #159655;
  border: none;
}

.back-btn:hover {
transform: scale(1.1);
}

.next-btn {
  background-image: url(../../assets/images/arrow-right-white.png);
  background-size: cover;
  background-color: #159655;
  border: none;
}

.next-btn:hover {
transform: scale(1.1);
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.hide {
  display: none;
}
