*, *::before, *::after {
  box-sizing: border-box;
  font-family: sans-serif;
}


:root {
  --hue-neutral: 200;
  --hue-wrong: 200;
  --hue-correct: 200;
}

body {
  --hue: var(--hue-neutral);
  padding: 0;
  margin:0;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: hsl(var(--hue), 100%, 20%);
}

<<<<<<< HEAD
.backgroundImg  {
    background-image: url("img/venner.png");
=======
<<<<<<< HEAD
.venner {
    background-image: url("img/venner.png");
    background-color: #cccccc;
=======
body  {
    background-image: url("img/venner.png");
    background-color: #cccccc;
    background-size: cover;
    background-position: center;
>>>>>>> d4805725952f4420404d97a0292e33e214b3b34f
>>>>>>> 8dfb82b7a24ff7bcf48d5f865ebe2136b98d50a0
}

body.correct {
  --hue: var(--hue-correct);
}

body.wrong {
  --hue: var(--hue-wrong);
}

.container {
  width: 800px;
  max-width: 80%;
  background-color: #159655;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}

.btn {
  --hue: var(--hue-neutral);
  border: 1px solid hsl(var(--hue), 100%, 100%);
  background-color: white;
  border-radius: 5px;
  padding: 5px 10px;
  color: black;
  outline: none;
}

.btn:hover {
  border-color: #159655;
}

.btn:correct {
  --hue: var(--hue-correct);
}

.btn:wrong {
  --hue: var(--hue-wrong);
}

.start-btn, .next-btn {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}
