* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif
}

/* NAV STARTER */

.navContainer {
  background-color: #159655;
  border: none;
  height: 28rem;
}

nav {
  height: 3rem;
  margin-right: 21%;
}

.menu ul li {
  list-style: none;
  display: inline-block;
  float: right;
  line-height: 2.85rem;
}

.menu ul li a {
  text-decoration: none;
  color: white;
  font-size: 70%;
  justify-content: space-around;
  padding: 0 1rem;
}

.menu ul li a:hover {
  color: lightgrey;
  text-decoration: underline;
}

.underline1 {
  width: auto;
  height: 0.05rem;
  background: white;
  border: none;
  opacity: 50%;
}

.navSubMenu {
  background-color: #159655;
  height: 4.5rem;
  width: auto;
  margin: 1% 21.5% 0 0;
}

.navSubMenu ul li {
  list-style: none;
  display: inline-block;
  float: right;
  line-height: 300%;
}

.navSubMenu ul li a {
  text-decoration: none;
  color: white;
  font-size: 95%;
  justify-content: space-around;
  padding: 0 1rem;
}

.searchIcon {
  height: 2rem;
  width: auto;
  margin: 0.5rem 0 0 1rem;
}

.currentPage {
  text-decoration: underline;
}

.navSubMenu ul li a:hover {
  color: lightgrey;
  text-decoration: underline;
}

/* NAV SLUTTER */

/* HEADER STARTER */

.headerTitle {
  font-size: 280%;
  color: white;
  margin: 3rem 0 0 20.5%;
}

.underTitle1 {
  color: white;
  font-size: 95%;
  margin: 1rem 0 0 20.5%;
}

.underTitle2 {
  color: white;
  font-size: 95%;
  margin: 1rem 0 0 20.5%;
}

.underTitle3 {
  color: white;
  font-size: 95%;
  margin-left: 20.5%;
}

.underTitle4 {
  color: white;
  font-size: 95%;
  margin-left: 20.5%;
}

.firkant {
  width: 2rem;
  height: 2rem;
  background-color: #159655;
  margin: auto;
  transform: rotate(45deg);
}

/* HEADER SLUTTER */

/* MEDIA QUERIE FOR BÆRBAR*/

@media screen and (max-width: 1900px) {
  .navSubMenu {
    margin: 1% 15% 0 0;
  }

  .navSubMenu ul li a {
    font-size: 75%;
  }

  .searchIcon {
    height: 2rem;
    width: auto;
    margin: 0.5rem 0 0 1rem;
  }
}
  /*INDHOLD UNDER HEADER START*/

.grid-system {
}

/*SEKTION 1 (TUBA OG VENTILEN) START*/
.sektion1 {
  display: grid;
  grid-template-columns: repeat(23, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    ". . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . TUBAlogo TUBAtext TUBAtext TUBAtext TUBAtext btnArrow1 . . ventilenlogo ventilentext ventilentext ventilentext ventilentext btnArrow2  . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . .";}

.TUBAlogo {
  grid-area: TUBAlogo;
  grid-row: 2 / 3;
  grid-column: 5 / 6;
  text-align: center;
  margin: auto;
  display: block;
  }

.TUBAlogopic {
  width: 80%;
  height: auto;
}

.TUBAtext {
  grid-area: TUBAtext;
  grid-row: 2 / 3;
  grid-column: 6 / 11;
}

.btnArrow1 {
  grid-area: btnArrow1;
  grid-row: 2 / 3;
  grid-column: 11 / 12;
  text-align: center;
  display: block;
  margin: auto;
  border: none;
  background-color: white;
}

.arrow1pic {
  width: 40%;
  height: auto;
}

.btnArrow1:hover {
  background-color: #D0EBDE;
  border-radius: 30px;
  transition: all .2s ease;
  transform: scale(1.1);
  cursor: pointer;
}

.ventilenlogo {
  grid-area: ventilenlogo;
  grid-row: 2 / 3;
  grid-column: 14 / 15;
  text-align: center;
  margin: auto;
  display: block;
}

.ventilenlogopic {
  width: 70%;
  height: auto;
}

.ventilentext {
  grid-area: ventilentext;
  grid-row: 2 / 3;
  grid-column: 15 / 20;
}

.btnArrow2 {
  grid-area: btnArrow2;
  grid-row: 2 / 3;
  grid-column: 20 / 21;
  text-align: center;
  display: block;
  margin: auto;
  border: none;
  background-color: white;
}

.arrow2pic {
  width: 40%;
  height: auto;
}

.btnArrow2:hover {
  background-color: #D0EBDE;
  border-radius: 30px;
  transition: all .2s ease;
  transform: scale(1.1);
  cursor: pointer;
}

/*SEKTION 1 (TUBA OG VENTILEN) SLUT*/

/*SEKTION 2 (PSYKIATRIFONDEN OG BØRNETELEFONEN) START*/
.sektion2 {
  display: grid;
  grid-template-columns: repeat(23, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    ". . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . PSYKlogo PSYKtext PSYKtext PSYKtext PSYKtext btnArrow3 . . BORNTLFlogo BORNTLFtext BORNTLFtext BORNTLFtext BORNTLFtext btnArrow4  . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . .";}

.PSYKlogo {
  grid-area: PSYKlogo;
  grid-row: 2 / 3;
  grid-column: 5 / 6;
  text-align: center;
  margin: auto;
  display: block;
}

.PSYKlogopic {
  width: 80%;
  height: auto;
}

.PSYKtext {
  grid-area: PSYKtext;
  grid-row: 2 / 3;
  grid-column: 6 / 11;
}

.btnArrow3 {
  grid-area: btnArrow3;
  grid-row: 2 / 3;
  grid-column: 11 / 12;
  text-align: center;
  display: block;
  margin: auto;
  border: none;
  background-color: white;
}

.arrow3pic {
  width: 40%;
  height: auto;
}

.btnArrow3:hover {
  background-color: #D0EBDE;
  border-radius: 30px;
  transition: all .2s ease;
  transform: scale(1.1);
  cursor: pointer;
}

.BORNTLFlogo {
  grid-area: BORNTLFlogo;
  grid-row: 2 / 3;
  grid-column: 14 / 15;
  text-align: center;
  margin: auto;
  display: block;
}

.BORNTLFlogopic {
  width: 80%;
}

.BORNTLFtext {
  grid-area: BORNTLFtext;
  grid-row: 2 / 3;
  grid-column: 15 / 20;
}

.btnArrow4 {
  grid-area: btnArrow4;
  grid-row: 2 / 3;
  grid-column: 20 / 21;
  text-align: center;
  display: block;
  margin: auto;
  border: none;
  background-color: white;
}

.arrow4pic {
  width: 40%;
  height: auto;
}

.btnArrow4:hover {
  background-color: #D0EBDE;
  border-radius: 30px;
  transition: all .2s ease;
  transform: scale(1.1);
  cursor: pointer;
}

/*SEKTION 2 (PSYKIATRIFONDEN OG BØRNETELEFONEN) SLUT*/

/*SEKTION 3 (VILDEFUGLE OG BAGFACADEN) START*/
.sektion3 {
  display: grid;
  grid-template-columns: repeat(23, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    ". . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . FUGLElogo FUGLEtext FUGLEtext FUGLEtext FUGLEtext btnArrow5 . . FACADElogo FACADEtext FACADEtext FACADEtext FACADEtext btnArrow6  . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . .";}

.FUGLElogo {
  grid-area: FUGLElogo;
  grid-row: 2 / 3;
  grid-column: 5 / 6;
  text-align: center;
  margin: auto;
  display: block;
}

.FUGLElogopic {
  width: 70%;
  height: auto;
}

.FUGLEtext {
  grid-area: FUGLEtext;
  grid-row: 2 / 3;
  grid-column: 6 / 11;
}

.btnArrow5 {
  grid-area: btnArrow5;
  grid-row: 2 / 3;
  grid-column: 11 / 12;
  text-align: center;
  display: block;
  margin: auto;
  border: none;
  background-color: white;
}

.arrow5pic {
  width: 40%;
  height: auto;
}

.btnArrow5:hover {
  background-color: #D0EBDE;
  border-radius: 30px;
  transition: all .2s ease;
  transform: scale(1.1);
  cursor: pointer;
}

.FACADElogo {
  grid-area: FACADElogo;
  grid-row: 2 / 3;
  grid-column: 14 / 15;
  text-align: center;
  margin: auto;
  display: block;
}

.FACADElogopic {
  width: 60%;
}

.FACADEtext {
  grid-area: FACADEtext;
  grid-row: 2 / 3;
  grid-column: 15 / 20;
}

.btnArrow6 {
  grid-area: btnArrow6;
  grid-row: 2 / 3;
  grid-column: 20 / 21;
  text-align: center;
  display: block;
  margin: auto;
  border: none;
  background-color: white;
}

.arrow6pic {
  width: 40%;
  height: auto;
}

.btnArrow6:hover {
  background-color: #D0EBDE;
  border-radius: 30px;
  transition: all .2s ease;
  transform: scale(1.1);
  cursor: pointer;
}

/*SEKTION 3 (VILDEFUGLE OG BAGFACADEN) SLUT*/

  /*INDHOLD UNDER HEADER SLUT*/
