* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
  }

  /* NAV STARTER */

  .navContainer {
    background-color: #159655;
    border: none;
    height: 410px;
  }

  nav {
    height: 40px;
    margin-right: 350px;
  }

  .menu ul li {
    list-style: none;
    display: inline-block;
    float: right;
    line-height: 35px;
  }

  .menu ul li a {
    text-decoration: none;
    color: white;
    letter-spacing: 1px;
    font-size: 12px;
    justify-content: space-around;
    padding: 0 20px;
  }

  .menu ul li a:hover {
    color: lightgrey;
    text-decoration: underline;
  }

  .underline1 {
    width: auto;
    height: 1px;
    background: white;
    border: none;
    opacity: 50%;
  }

  .navSubMenu {
    background-color: #159655;
    height: 75px;
    width: auto;
    margin-right: 360px;
  }

  .navSubMenu ul li {
    list-style: none;
    display: inline-block;
    float: right;
    line-height: 75px;
  }

  .navSubMenu ul li a {
    text-decoration: none;
    color: white;
    letter-spacing: 1px;
    font-size: 15px;
    justify-content: space-around;
    padding: 0 20px;
  }

  .searchIcon {
    height: 30px;
    width: auto;
    margin: 20px 0 0 15px;
  }

  .currentPage {
    text-decoration: underline;
  }

  .navSubMenu ul li a:hover {
    color: lightgrey;
    text-decoration: underline;
  }

  /* NAV SLUTTER */

  /* HEADER STARTER */

  h1 {
    font-size: 45px;
    color: white;
    margin: 40px 0 0 425px;
  }

  .underTitle1 {
    color: white;
    font-size: 15px;
    margin: 20px 0 0 425px;
  }

  .underTitle2 {
    color: white;
    font-size: 15px;
    margin: 20px 0 0 425px;
  }

  .underTitle3 {
    color: white;
    font-size: 15px;
    margin-left: 425px;
  }

  .underTitle4 {
    color: white;
    font-size: 15px;
    margin-left: 425px;
  }

  .firkant {
    width: 40px;
    height: 40px;
    background-color: #159655;
    margin: auto;
    transform: rotate(45deg);
  }

  .underline2 {
    width: 1075px;
    height: 1px;
    background: black;
    border: none;
    margin: auto;
    margin-top: 80px;
  }

  /*INDHOLD UNDER HEADER START*/

.grid-system {
}

/*SEKTION 1 (TUBA OG VENTILEN) START*/
.sektion1 {
  display: grid;
  grid-template-columns: repeat(23, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    ". . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . TUBAlogo TUBAtext TUBAtext TUBAtext TUBAtext arrow1 . . ventilenlogo ventilentext ventilentext ventilentext ventilentext arrow1  . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . .";}

.TUBAlogo {
  grid-area: TUBAlogo;
  grid-row: 2 / 3;
  grid-column: 5 / 6;
  text-align: center;
  margin: auto;
  display: block;
  }

.TUBAlogopic {
  width: 80%;
  height: auto;
}

.TUBAtext {
  grid-area: TUBAtext;
  grid-row: 2 / 3;
  grid-column: 6 / 10;
}

.arrow1 {
  grid-area: arrow1;
  grid-row: 2 / 3;
  grid-column: 10 / 11;
  text-align: center;
}

.ventilenlogo {
  grid-area: ventilenlogo;
  grid-row: 2 / 3;
  grid-column: 14 / 15;
  text-align: center;
  margin: auto;
  display: block;
}

.ventilenlogopic {
  width: 70%;
  height: auto;
}

.ventilentext {
  grid-area: ventilentext;
  grid-row: 2 / 3;
  grid-column: 15 / 19;
}

.arrow2 {
  grid-area: arrow2;
  grid-row: 2 / 3;
  grid-column: 19 / 20;
  text-align: center;
}
/*SEKTION 1 (TUBA OG VENTILEN) SLUT*/

/*SEKTION 2 (PSYKIATRIFONDEN OG BØRNETELEFONEN) START*/
.sektion2 {
  display: grid;
  grid-template-columns: repeat(23, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    ". . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . PSYKlogo PSYKtext PSYKtext PSYKtext PSYKtext arrow3 . . BORNTLFlogo BORNTLFtext BORNTLFtext BORNTLFtext BORNTLFtext arrow4  . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . .";}

.PSYKlogo {
  grid-area: PSYKlogo;
  grid-row: 2 / 3;
  grid-column: 5 / 6;
  text-align: center;
  margin: auto;
  display: block;
}

.PSYKlogopic {
  width: 80%;
  height: auto;
}

.PSYKtext {
  grid-area: PSYKtext;
  grid-row: 2 / 3;
  grid-column: 6 / 10;
}

.arrow3 {
  grid-area: arrow3;
  grid-row: 2 / 3;
  grid-column: 10 / 11;
  text-align: center;
}

.BORNTLFlogo {
  grid-area: BORNTLFlogo;
  grid-row: 2 / 3;
  grid-column: 14 / 15;
  text-align: center;
  margin: auto;
  display: block;
}

.BORNTLFlogopic {
  width: 80%;
}

.BORNTLFtext {
  grid-area: BORNTLFtext;
  grid-row: 2 / 3;
  grid-column: 15 / 19;
}

.arrow4 {
  grid-area: arrow4;
  grid-row: 2 / 3;
  grid-column: 19 / 20;
  text-align: center;
}
/*SEKTION 2 (PSYKIATRIFONDEN OG BØRNETELEFONEN) SLUT*/

/*SEKTION 3 (VILDEFUGLE OG BAGFACADEN) START*/
.sektion3 {
  display: grid;
  grid-template-columns: repeat(23, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    ". . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . FUGLElogo FUGLEtext FUGLEtext FUGLEtext FUGLEtext arrow5 . . FACADElogo FACADEtext FACADEtext FACADEtext FACADEtext arrow6  . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . .";}

.FUGLElogo {
  grid-area: FUGLElogo;
  grid-row: 2 / 3;
  grid-column: 5 / 6;
  text-align: center;
  margin: auto;
  display: block;
}

.FUGLElogopic {
  width: 70%;
  height: auto;
}

.FUGLEtext {
  grid-area: FUGLEtext;
  grid-row: 2 / 3;
  grid-column: 6 / 10;
}

.arrow5 {
  grid-area: arrow5;
  grid-row: 2 / 3;
  grid-column: 10 / 11;
  text-align: center;
}

.FACADElogo {
  grid-area: FACADElogo;
  grid-row: 2 / 3;
  grid-column: 14 / 15;
  text-align: center;
  margin: auto;
  display: block;
}

.FACADElogopic {
  width: 60%;
}

.FACADEtext {
  grid-area: FACADEtext;
  grid-row: 2 / 3;
  grid-column: 15 / 19;
}

.arrow6 {
  grid-area: arrow6;
  grid-row: 2 / 3;
  grid-column: 19 / 20;
  text-align: center;
}
/*SEKTION 3 (VILDEFUGLE OG BAGFACADEN) SLUT*/

  /*INDHOLD UNDER HEADER SLUT*/
