* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif
}

/* NAV STARTER */

.navContainer {
  background-color: #159655;
  border: none;
  height: 425px;
}

nav {
  height: 40px;
  margin-right: 380px;
}

.menu ul li {
  list-style: none;
  display: inline-block;
  float: right;
  line-height: 35px;
}

.menu ul li a {
  text-decoration: none;
  color: white;
  font-size: 12px;
  justify-content: space-around;
  padding: 0 20px;
}

.menu ul li a:hover {
  color: lightgrey;
  text-decoration: underline;
}

.underline1 {
  width: auto;
  height: 1px;
  background: white;
  border: none;
  opacity: 50%;
}

.navSubMenu {
  background-color: #159655;
  height: 75px;
  width: auto;
  margin-right: 390px;
}

.navSubMenu ul li {
  list-style: none;
  display: inline-block;
  float: right;
  line-height: 75px;
}

.navSubMenu ul li a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  justify-content: space-around;
  padding: 0 20px;
}

.searchIcon {
  height: 30px;
  width: auto;
  margin: 20px 0 0 15px;
}

.currentPage {
  text-decoration: underline;
}

.navSubMenu ul li a:hover {
  color: lightgrey;
  text-decoration: underline;
}

/* NAV SLUTTER */

/* HEADER STARTER */

.headerTitle {
  font-size: 45px;
  color: white;
  margin: 40px 0 0 400px;
}

.underTitle1 {
  color: white;
  font-size: 15px;
  margin: 20px 0 0 400px;
}

.underTitle2 {
  color: white;
  font-size: 15px;
  margin: 20px 0 0 400px;
}

.underTitle3 {
  color: white;
  font-size: 15px;
  margin-left: 400px;
}

.underTitle4 {
  color: white;
  font-size: 15px;
  margin-left: 400px;
}

.firkant {
  width: 40px;
  height: 40px;
  background-color: #159655;
  margin: auto;
  transform: rotate(45deg);
}

/* HEADER SLUTTER */

/* INDHOLD TIL TEST STARTER */

.underline2 {
  width: 1120px;
  height: 1px;
  background: black;
  border: none;
  margin: auto;
  margin-top: 80px;
}

.testHeader {
  font-size: 45px;
  color: black;
  display: grid;

}

.takeTestImage {
  width: 400px;
  height: auto;
}

.btnTest {
background-color: #E54C5E;
}

.btnTest:hover {
  cursor: pointer;
  background-color: #FC2A43;
  transition: all 0.3s ease;
}
