* {
  margin: 0;
  padding: 0;
}

.navContainer {
  background-color: #159655;
}

nav {
  height: 40px;
}

ul li {
  list-style: none;
  display: inline-block;
  float: right;
  line-height: 40px;
}

ul li a {
  text-decoration: none;
  color: white;
  font-family: montserrat;
  letter-spacing: 1px;
  font-size: 15px;
  justify-content: space-around;
  padding: 0 20px;

}

.underline1 {
  width: auto;
  height: 1px;
  background: white;
  border: none;
}
