* {
  margin: 0;
  padding: 0;
}

.menu {

}

ul li {
  list-style: none;
  display: inline-block;
  float: right;
}

ul li a {
  text-decoration: none;
  color: black;
  letter-spacing: 4px;
  font-size: 10px;
  justify-content: space-around;
}
