* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif
}

/* NAV STARTER */

.navContainer {
  background-color: #159655;
  border: none;
  height: 28rem;
}

nav {
  height: 3rem;
  margin-right: 21%;
}

.menu ul li {
  list-style: none;
  display: inline-block;
  float: right;
  line-height: 2.85rem;
}

.menu ul li a {
  text-decoration: none;
  color: white;
  font-size: 70%;
  justify-content: space-around;
  padding: 0 1rem;
}

.menu ul li a:hover {
  color: lightgrey;
  text-decoration: underline;
}

.underline1 {
  width: auto;
  height: 0.05rem;
  background: white;
  border: none;
  opacity: 50%;
}

.navSubMenu {
  background-color: #159655;
  height: 4.5rem;
  width: auto;
  margin: 1% 21.5% 0 0;
}

.navSubMenu ul li {
  list-style: none;
  display: inline-block;
  float: right;
  line-height: 300%;
}

.navSubMenu ul li a {
  text-decoration: none;
  color: white;
  font-size: 95%;
  justify-content: space-around;
  padding: 0 1rem;
}

.searchIcon {
  height: 2rem;
  width: auto;
  margin: 0.5rem 0 0 1rem;
}

.currentPage {
  text-decoration: underline;
}

.navSubMenu ul li a:hover {
  color: lightgrey;
  text-decoration: underline;
}

/* NAV SLUTTER */

/* HEADER STARTER */

.headerTitle {
  font-size: 280%;
  color: white;
  margin: 3rem 0 0 20.5%;
}

.underTitle1 {
  color: white;
  font-size: 95%;
  margin: 1rem 0 0 20.5%;
}

.underTitle2 {
  color: white;
  font-size: 95%;
  margin: 1rem 0 0 20.5%;
}

.underTitle3 {
  color: white;
  font-size: 95%;
  margin-left: 20.5%;
}

.underTitle4 {
  color: white;
  font-size: 95%;
  margin-left: 20.5%;
}

.firkant {
  width: 2rem;
  height: 2rem;
  background-color: #159655;
  margin: auto;
  transform: rotate(45deg);
}

/* HEADER SLUTTER */

/* MEDIA QUERIE FOR BÆRBAR */

@media screen and (max-width: 1900px) {
  .navSubMenu {
    margin: 1% 15% 0 0;
  }

  .navSubMenu ul li a {
    font-size: 75%;
  }

  .searchIcon {
    height: 2rem;
    width: auto;
    margin: 0.5rem 0 0 1rem;
  }
}

/* MEDIA QUERIE FOR BÆRBAR */

/* INDHOLD UNDER HEADER STARTER */

.underline2 {
  width: 59%;
  height: 0.05rem;
  background: black;
  border: none;
  margin: auto;
  margin-top: 5%;
}

.title-test {
  font-size:
}

/* GRID SYSTEM START*/

.grid-system-test {
  display: grid;
  grid-template-columns: repeat(23, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-template-areas:
    ". . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . titletext-test titletext-test . . . . . . test-img test-img test-img test-img test-img . . . . ."
    ". . . . . titletext-test titletext-test titletext-test titletext-test titletext-test titletext-test titletext-test . test-img test-img test-img test-img test-img . . . . ."
    ". . . . . titletext-test titletext-test titletext-test titletext-test titletext-test titletext-test titletext-test . test-img test-img test-img test-img test-img . . . . ."
    ". . . . . titletext-test titletext-test . . . . . . test-button test-button test-button test-button test-button . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . .";}

.titletext-test {
  grid-area: title-test;
  grid-row: 2 / 5;
  grid-column: 6 / 13;
}

.test-img {
  grid-area: test-img;
  grid-row: 2 / 4;
  grid-column: 14 / 19;
}

.test-img1 {
  width: 80%;
  height: auto;
}

.test-button {
  grid-area: test-button;
  grid-row: 4 / 5;
  grid-column: 14 / 19;
}

/* GRID SYSTEM SLUT */

/* KNAP */


/* KNAP SLUT */

/* INDHOLD UNDER HEADER SÆUTTER */
