* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif
}

/* NAV STARTER */

.navContainer {
  background-color: #159655;
  border: none;
  height: 28rem;
}

nav {
  height: 3rem;
  margin-right: 19.5%;
}

.menu ul li {
  list-style: none;
  display: inline-block;
  float: right;
  line-height: 2.85rem;
}

.menu ul li a {
  text-decoration: none;
  color: white;
  font-size: 70%;
  justify-content: space-around;
  padding: 0 1rem;
}

.menu ul li a:hover {
  color: lightgrey;
  text-decoration: underline;
}

.underline1 {
  width: auto;
  height: 0.05rem;
  background: white;
  border: none;
  opacity: 50%;
}

.navSubMenu {
  background-color: #159655;
  height: 4.5rem;
  width: auto;
  margin: 1% 20% 0 0;
}

.navSubMenu ul li {
  list-style: none;
  display: inline-block;
  float: right;
  line-height: 2.85rem;
}

.navSubMenu ul li a {
  text-decoration: none;
  color: white;
  font-size: 95%;
  justify-content: space-around;
  padding: 0 1.1rem;
}

.searchIcon {
  height: 2rem;
  width: auto;
  margin: 0.5rem 0 0 1rem;
}

.currentPage {
  text-decoration: underline;
}

.navSubMenu ul li a:hover {
  color: lightgrey;
  text-decoration: underline;
}

/* NAV SLUTTER */

/* HEADER STARTER */

.headerTitle {
  font-size: 280%;
  color: white;
  margin: 3rem 0 0 24.65rem;
}

.underTitle1 {
  color: white;
  font-size: 95%;
  margin: 1rem 0 0 24.65rem;
}

.underTitle2 {
  color: white;
  font-size: 95%;
  margin: 1rem 0 0 24.65rem;
}

.underTitle3 {
  color: white;
  font-size: 95%;
  margin-left: 24.65rem;
}

.underTitle4 {
  color: white;
  font-size: 95%;
  margin-left: 24.65rem;
}

.firkant {
  width: 2rem;
  height: 2rem;
  background-color: #159655;
  margin: auto;
  transform: rotate(45deg);
}

/* HEADER SLUTTER */

/* INDHOLD TIL TEST STARTER */

.underline2 {
  width: 59%;
  height: 0.05rem;
  background: black;
  border: none;
  margin: auto;
  margin-top: 5%;
}

.testHeader {
  font-size: 280%;
  color: black;
}

.testBodyText {
}

.takeTestImage {
  width: 20%;
  height: auto;
}

.btnTest {
  width: 10%;
  height: 2rem;
}

.btnTest {
background-color: #E54C5E;
}

.btnTest:hover {
  cursor: pointer;
  background-color: #FC2A43;
  transition: all 0.3s ease;
}
