* {
  margin: 0;
  padding: 0;
}

.navContainer {
  background-color: #159655;
  border: none;
}

nav {
  height: 40px;
  margin-right: 350px;
}

ul li {
  list-style: none;
  display: inline-block;
  float: right;
  line-height: 35px;
}

ul li a {
  text-decoration: none;
  color: white;
  letter-spacing: 1px;
  font-size: 12px;
  justify-content: space-around;
  padding: 0 20px;
}

ul li a:hover {
  color: lightgrey;
  text-decoration: underline;
}

.underline1 {
  width: auto;
  height: 1px;
  background: white;
  border: none;
  opacity: 50%;
}

ul {
  float: right;
}
